.all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-body{
    background-color: aqua;
    min-width: 400px;
    margin-top: 20px;
    max-width: 400px;
}
.repository{
    padding-left: 50px;
    padding-right: 50px;
}
span{
    color: orangered;
}