<body>
    <app-git-form></app-git-form>

<div class="users">
    <h2>Pfofile Details</h2>
    <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="{{profile.avatar_url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Account Name: {{profile.name}}</h5>
          <p class="card-text">Username: {{profile.login}}</p>
          <p class="card-text">Userbio: {{profile.bio}}</p>
          <p class="card-text">Public repos: {{profile.public_repos}}</p>
          <a href="{{profile.html_url}}" class="btn btn-primary">Go to Github</a>
        </div>
      </div>
</div>
</body>

