.card-img-top{
    height: 250px;
}
*{
    background-image: url(https://images.unsplash.com/photo-1594398985750-3b54ec074a0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNvbXB1dGVyc3xlbnwwfDB8MHxibGFja3w%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
   
}
.card {
    background-color: white;
    color: white;
    border: 2px solid orangered;
}
.users{
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 50px;
}
.list{
    justify-content: space-between;
}
span.label-primary{
    background: blue;
}
span.label-default{
    background: gray;
}
span.label-success{
    background: orangered;
}
span.label-warning{
    background: greenyellow;
}
.container-fluid {
    padding-top: 50px;
   }
     .active-cyan input[type=text] {
     border-bottom: 1px solid #4dd0e1;
     box-shadow: 0 1px 0 0 #4dd0e1;
     }
     input{
       width: 100%;
     }
     .active-cyan-4{
         display: flex;
     }
     .active-cyan-4 input {
         height: 50px;
     }
     .intro{
         text-align: center;
     }
     input{
         background: white;
     }